<footer id="colophon" class="site-footer">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <div class="social-links">
                        <a class="linkedin-bg" href="https://www.linkedin.com/in/jg-ai/"><i class="fa fa-linkedin"></i></a>
                        <a class="github-bg" href="https://github.com/joris-gentinetta"><i class="fa fa-github-square"></i></a>
                        <a class="cv-bg" href="{{ '/assets/CV-Joris_Gentinetta.pdf' | relative_url }}"><i class="fa fa-file-pdf-o"></i> CV</a>
                    </div><!-- /.social-links -->
                </div>
                <div class="col-xs-4">
                    <div class="text-right">
                        <p>Website adapted from:</p>
                        <a href="https://github.com/msavov/html-freebie-agency-perfect">github.com/msavov</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.copyright -->
</footer><!-- /#footer -->
